*{
    background-color:rgb(157, 227, 227);
}  

h2 {
  text-align:center;
}

.template {
  visibility: hidden;
}
.student{
  border:1px solid #ddd;
  padding: 0.75rem 1.25rem;
  height: 4rem;
}

.student + .student{
  border-top: 0;
}

.student-name{
  float:left;
  overflow-x: hidden;
  text-overflow: ellipsis;
  line-height: 38px;
  white-space: nowrap;
  width: 5rem;
  width: calc(100%-110px);

}

.actions{
  float: right;
  margin-bottom: 0;
}

.promoted{
  background-color: #FFA807;
  border-color: #ffc656;
}